{% extends 'blog/base.html' %}


{% block content %}
    <div class="container login text-center">

        <h2>Please Login:</h2>
        <h3>Please contact site admin.</h3>

        {% if form.errors  %}
                <p>The Username and Password did not match! Please try again</p>
        {% endif %}

        <form method="POST" id='loginbtn' action="{% url 'login' %}">
            {% csrf_token  %}
            {{ form.as_p }}
            
            <input type="submit" class="btn btn-dark "  value="Login">
            <input type="hidden" name="next"  value="{{ next }}">
        </form>
    </div>
{% endblock %}